.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
  margin: 0 auto;
}

.portfolio__data {
  margin: 0 auto;
}

.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
  text-align: center;
}

.portfolio__description {
  text-align: justify;
}

.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.portfolio__button {
  display: flex;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.7rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.buttons__portfolio {
  text-align: center;
  margin-top: var(--mb-0-75);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button:hover {
  background-color: var(--first-color-alt);
}

@media screen and (min-width: 568px) {
  .portfolio__content {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .portfolio__img {
      width: 320px;
  }

  .portfolio__content {
      align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio__content {
      column-gap: 5rem;
      grid-template-columns: repeat(1, 1fr);
  }

  .portfolio__data {
      margin: 0 auto;
  }

  .portfolio__title {
      text-align: center;
  }

  .portfolio__description {
      margin: 0 auto;
  }
}
