.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
  margin: 0 auto;
}

.portfolio__data {
  margin: 0 auto;
}

.portfolio__title {
  margin-left: 5%;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.portfolio__description {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons__portfolio {
  margin-left: 5%;
}

.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.portfolio__button {
  margin: 5px 5px 5px 0px;
}

@media screen and (min-width: 568px) {
  .portfolio__content {
      grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__button {
      margin: 0px 5px 0px 0px;
  }

  .portfolio__data {
      margin-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__img {
      width: 320px;
  }

  .portfolio__content {
      align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio__content {
      column-gap: 5rem;
      grid-template-columns: repeat(1, 1fr);
  }

  .portfolio__data {
      margin: 0 auto;
  }

  .portfolio__title {
      text-align: center;
      margin-left: 0px;
  }

  .portfolio__description {
      margin: 0 auto;
  }

  .buttons__portfolio {
      margin-left: 0px;
      margin-top: var(--mb-0-75);
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
