.tech_skills {
  display: grid;
  align-items: center;
  justify-content: space-around;
  margin-bottom: var(--mb-0-75);
  grid-template-columns: repeat(3, 60px);
  gap: 4rem;
  text-align: center;
  font-size: 13px;
}

.separator {
  background-color: var(--first-color);
  box-sizing: border-box;
  color: #2a2a33;
  font-size: 15px;
  height: 2px;
  line-height: 22.5px;
  text-align: center;
  width: 140px;
  margin: 50px auto;
}

.skills__title {
  text-align: center;
  font-size: var(--h1-font-size);
}

.stack__svg {
  width: clamp(4rem, 0.2em, 6rem);
}

.skills__name {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 568px) {
  .tech_skills {
      grid-template-columns: repeat(4, 65px);
      grid-gap: 2rem;
      font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .tech_skills {
      grid-gap: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .tech_skills {
      grid-gap: 6rem;
      grid-template-columns: repeat(4, 65px);
      justify-content: center;
  }
}
